*{
    background-color: black;
    color: white;

}
.poster{
    width: 610px;
    border: 5px solid yellow;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;

}
#text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: yellow;
}