title{
    background-color: blue;
}
body{
    background-color: white;
}
h1{
    background-color: yellow;
}
html
{
   background-color: bisque; 
}
.css_selectors{
    color:red;
}
#id_method{
    color: aquamarine;
}